name: Static analysis

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: astral-sh/ruff-action@v2
