name: Type check

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install build dependencies
        run: |
          sudo apt-get update
          # For pocketsphinx (already installed: swig)
          sudo apt-get install --no-install-recommends -y libpulse-dev libasound2-dev
          # For PyAudio
          sudo apt-get install --no-install-recommends -y portaudio19-dev
      - name: Install Python dependencies
        run: |
          python -m pip install .[dev,audio,pocketsphinx,google-cloud,whisper-local,faster-whisper,openai,groq,vosk]
      - run: make typecheck
